body{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}
.top-container{
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}
h1{
  margin:50px auto 0 auto;
  font-family: 'MonteCarlo', cursive;
  font-size: 5.625em;
  color: #66BFBF;
  line-height: 1;
}
h2{
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  color: #11999E;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.middle-container{

}
.bottom-container{
  margin-top: 50px;
  padding: 50px 0 20px;
  background-color: #66BFBF;
}
.skill-gif1{
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}
.skill-gif2{
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-right: 30px;
}
.learn{
  text-decoration: underline;
}
.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right:200px;
  top: 10px;
}
.skill-description{
  clear: left;
}
.skill-description2{
  clear: right;
}
p{
  color: #40514E;
}
.intro{
  width: 50%;
  margin: auto;
}
hr{
  border-color: #EAF6F6;
  border-style: dotted none none;
  border-width: 7px;
  width: 10%;
}
.text{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 10px 20px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
